<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AclTrek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
   <section name="SharepntTestHost.Properties.Settings" allowExeDefinition="MachineToLocalUser" requirePermission="false" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<AclTrek.Properties.Settings>
   <setting name="LogFilePath" serializeAs="String">
    <value>Set in log4net.config</value>
   </setting>
   <setting name="AccessMdbPath1" serializeAs="String">
    <value>C:\Users\fred\Dropbox\HamLog\LogData.mdb</value>
   </setting>
   <setting name="AccessMdbPath2" serializeAs="String">
    <value>---</value>
   </setting>
   <setting name="AccessMdbPath3" serializeAs="String">
    <value>---</value>
   </setting>
   <setting name="SqlServerName1" serializeAs="String">
    <value>SsName1EnvVariable</value>
   </setting>
   <setting name="SqlServerName2" serializeAs="String">
    <value>SsName2EnvVariable</value>
   </setting>
   <setting name="SqlServerName3" serializeAs="String">
    <value>SsName3EnvVariable</value>
   </setting>
   <setting name="SqlDbName1" serializeAs="String">
    <value>AmateurContactLog</value>
   </setting>
   <setting name="SqlDbName2" serializeAs="String">
    <value>AmateurContactLog</value>
   </setting>
   <setting name="SqlDbName3" serializeAs="String">
    <value>AmateurContactLog</value>
   </setting>
   <setting name="AccessMdbUserName" serializeAs="String">
    <value>---</value>
   </setting>
   <setting name="AccessMdbUserPW" serializeAs="String">
    <value>---</value>
   </setting>
   <setting name="WindowsUserName" serializeAs="String">
    <value>winuser</value>
   </setting>
   <setting name="WindowsUserPW" serializeAs="String">
    <value>winpwd</value>
   </setting>
   <setting name="SqlDbUserName1" serializeAs="String">
    <value>SqlDbUserName</value>
   </setting>
  </AclTrek.Properties.Settings>
  <SharepntTestHost.Properties.Settings>
   <setting name="LogFilePath" serializeAs="String">
    <value>Set in log4net.config</value>
   </setting>
   <setting name="AccessMdbPath1" serializeAs="String">
    <value>C:\FW\Dominium\Data\SICCodes.csv</value>
   </setting>
   <setting name="AccessMdbPath2" serializeAs="String">
    <value>C:\FW\Printpack\COI\Db\Access\Mdb\COI_Admin_DB.mdb</value>
   </setting>
   <setting name="AccessMdbPath3" serializeAs="String">
    <value>C:\Work\PPK\Data\COI_Admin_DB.mdb</value>
   </setting>
   <setting name="SqlServerName1" serializeAs="String">
    <value>MERCURY\SQLEXPRESS</value>
   </setting>
   <setting name="SqlServerName2" serializeAs="String">
    <value>MERCURY\MERCURY</value>
   </setting>
   <setting name="SqlServerName3" serializeAs="String">
    <value>ppksql3dv</value>
   </setting>
   <setting name="SqlDbName1" serializeAs="String">
    <value>ClientRevenue</value>
   </setting>
   <setting name="SqlDbName2" serializeAs="String">
    <value>COI_Sharepoint</value>
   </setting>
   <setting name="SqlDbName3" serializeAs="String">
    <value>COI_Test</value>
   </setting>
   <setting name="AccessMdbUserName" serializeAs="String">
    <value>pp_nt\fpeters</value>
   </setting>
   <setting name="AccessMdbUserPW" serializeAs="String">
    <value>Password1</value>
   </setting>
   <setting name="WindowsUserName" serializeAs="String">
    <value>pp_nt\fpeters</value>
   </setting>
   <setting name="WindowsUserPW" serializeAs="String">
    <value>Password1</value>
   </setting>
  </SharepntTestHost.Properties.Settings>
	</userSettings>
	<appSettings>
	</appSettings>
	<startup>
		<supportedRuntime sku=".NETFramework,Version=v4.7.2" version="v4.0"/>
	</startup>
</configuration>
